# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/flounder-ui/node_modules
/flounder-ui/.pnp
/flounder-ui/.pnp.js

# testing
/flounder-ui/coverage

# next.js
/flounder-ui/.next/
/flounder-ui/out/

# production
/flounder-ui/build

# misc
/flounder-ui/.DS_Store
/flounder-ui/*.pem

# debug
/flounder-ui/npm-debug.log*
/flounder-ui/yarn-debug.log*
/flounder-ui/yarn-error.log*

# local env files
/flounder-ui/.env*.local

# vercel
/flounder-ui/.vercel

# typescript
/flounder-ui/*.tsbuildinfo
/flounder-ui/next-env.d.ts

db.sqlite3
