@tailwind base;
@tailwind components;
@tailwind utilities;

.base-fullheight{
    height: calc(100vh - 64px);
}

.base-flexcenter{
    display:flex;
    align-items:center;
    justify-content: center;
    max-height: calc(100vh - 64px - 1rem);
    overflow-y: scroll;
}

.base-flexhorizontal{
    display:flex;
    justify-content: center;
    max-height: calc(100vh - 64px - 1rem);
    overflow-y: scroll;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover{
  background-color: white;
}

.bg-poly1{
    background-image: url('./../public/polywave1.png');
    opacity: 0.25;
}

.bg-poly2{
    background-image: url('./../public/polywave2.png');
    opacity: 0.25;
}

.bg-poly3{
    background-image: url('./../public/polywave3.png');
    opacity: 0.25;
}

@keyframes polywave-translate {
    0% {
        transform: translateX(0) translateZ(0) scaleY(0.5)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.2)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(0.5)
    }
}

.polywave-wrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;
    top:0;
    width: 100vw;
}

.polywave-inner{
    position: absolute;
    left:0;
    right:0;
    width: 100vw;
    overflow: hidden;
    height: 100%;
}

.polywave {
    position: absolute;
    left: 0;
    width: 5760px;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.polywave-animation .polywave1 {
    animation: polywave-translate 12s linear infinite;
}

.polywave-animation .polywave2 {
    animation: polywave-translate 18s linear infinite;
}

.polywave-animation .polywave3 {
    animation: polywave-translate 22s linear infinite;
}

.answerbox {
    width: 50%;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 0.375rem;
    background: theme('colors.sky.200');
    font-weight: 500;
    color:black;
    --tw-shadow-color: theme('colors.slate.500');
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 var(--tw-shadow-color)), var(--tw-ring-shadow, 0 0 var(--tw-shadow-color)), var(--tw-shadow);
    transition: all;
    transition-duration: 200ms;
}

.answerbox-non-auth {
    width: 50%;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 0.375rem;
    background: theme('colors.slate.100');
    font-weight: 500;
    color:theme('colors.slate.400');
    --tw-shadow-color: theme('colors.slate.500');
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 var(--tw-shadow-color)), var(--tw-ring-shadow, 0 0 var(--tw-shadow-color)), var(--tw-shadow);
}

.answerbox.answerbox-selected {
    background: theme('colors.sky.600');
    color:white;
    --tw-shadow-color: theme('colors.sky.500');
    --tw-shadow: 0 4px 6px -1px rgba(50, 150, 255, 0.75), 0 2px 4px -2px rgba(50, 150, 255, 0.75);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 var(--tw-shadow-color)), var(--tw-ring-shadow, 0 0 var(--tw-shadow-color)), var(--tw-shadow);
}

.width-lockfull{
    box-sizing:unset !important;
    min-width: 30vw !important;
    max-width: 100% !important;
    height:auto !important
}

.discordsvg{
    color:black;
}

.navbar-menu{
    text-align:left !important;
}